* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SpaceGrotesk-Bold', 'Courier New', Courier, monospace;
}
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('assets//fonts/static/SpaceGrotesk-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
.App {
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  text-align: center;
  background-color: hsl(257deg 100% 64%);
}

/* PLAYER CARD */

.player-card {
  border: 2px solid black;
  padding: 10px 5px;
  border-radius: 20px;
  box-shadow: 0px 4px 1px 1px;
  background-color: #fff;
  position: relative;
  min-width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 10px;
}
.player-card img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100%;
  margin: auto;
}
.board-state {
  margin-top: 20px;
}
/* BOARD */

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  max-width: fit-content;
  margin: auto;
  gap: 16px;
  padding-top: 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px);
  width: 520px;
  height: 460px;
  padding: 10px;
  margin: 0px auto;
  justify-content: center;
  gap: 10px;
  border: 2px solid black;
  box-shadow: 0px 4px 1px 1px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}
.circle {
  display: flex;
  border: 2px solid black;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
  z-index: 1;
}
.semi-circle {
  display: flex;
  border-radius: 50%;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-color: hsl(257deg 100% 64%);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.circle.fill.red {
  background-color: #e53935;
}
.circle.fill.yellow {
  background-color: #ffeb3b;
}
.semi-circle.yellow:hover {
  background-color: #ffeb3b;
}
.semi-circle.red:hover {
  background-color: #e53935;
}
.columnHover {
  position: relative;
  /* z-index: 2; */
}
.columnHover div {
  position: absolute;
  height: 440px;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 5px solid red; */
}
.columnHover:hover {
  border-bottom: 5px solid blue;
}

.marker {
  position: absolute;
  top: 110px;
  left: -20px;
  right: 0;
  transition: opacity 400ms ease;

  z-index: 100;
  /* opacity: 0; */
}
.marker.disabled {
  opacity: 0;
}

/* CLOCK */

.triangle {
  background-color: blue;
  position: absolute;
  transform: rotate(180deg);
  top: 10px;
  z-index: -100;
  left: 73px;
}
.triangle::after,
.triangle::before {
  position: absolute;
  content: '';
  width: 72px;
  height: 40px;
  background-color: #f96787;
  bottom: -25px;
  color: #f96787;
}
.triangle::before {
  right: 50%;
  transform: skew(0, 20deg);
  border-bottom: 3px solid black;
  /* border-left: 2px solid black; */
  border-end-start-radius: 5px;
}
.triangle::after {
  left: 50%;
  transform: skew(0, -20deg);
  border-bottom: 3px solid black;
  /* border-right: 2px solid black; */
  border-end-end-radius: 5px;
}
.clock {
  border: 2px solid red;
  width: 150px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -540px;
  margin: auto;
  z-index: 100;
  color: #fff;
  background-color: #f96787;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 0px 4px 1px 1px #000;
  border-radius: 10px 10px 20px 20px;
}

/* - Desktop: 1200px 75rem */
@media (min-width: 64.05rem) {
  #desktop {
    background-color: orange;
  }
}
/* - Laptop 1024px 64rem */
@media (min-width: 48.05rem) and (max-width: 64rem) {
  #laptop {
    background-color: pink;
  }
}
/* - Tablet: 768px 48rem */
@media (min-width: 32.05rem) and (max-width: 48rem) {
  #tablet {
    background-color: blue;
  }
}
/* - phone:480px 30rem */
@media (max-width: 32rem) {
  #phone {
    background-color: red;
  }
}
