/* - Desktop: 1200px 75rem */
@media (min-width: 64.05rem) {
  * {
    box-sizing: border-box;
  }
  .App {
    overflow: hidden;
  }
}
/* - Laptop 1024px 64rem */
@media (min-width: 48.05rem) and (max-width: 64rem) {
  * {
    box-sizing: none;
  }

  .App {
    overflow: hidden;
    width: fit-content;
    height: 600px;
  }
}
/* - Tablet: 768px 48rem */
@media (min-width: 32.05rem) and (max-width: 48rem) {
  * {
    box-sizing: border-box;
  }

  .App {
    overflow: hidden;
  }
}
/* - phone:480px 30rem */
@media (max-width: 32rem) {
  * {
    box-sizing: none;
  }
  .App {
    display: flex;
    place-items: center;
    margin: auto;
    padding: 8rem 0;
  }
  .lobby {
    width: 100%;
    margin: 2rem auto;
  }
  .nav-btns {
    margin: 2rem auto;
  }
  .board-container {
    position: relative;
  }
  .player-card {
    position: absolute;
    top: -250px;
    width: 100px;
    height: 100px;
    padding: 10px 5px;
  }
  .player-card.one {
    left: 100px;
  }
  .player-card.two {
    right: 100px;
  }
  .marker {
    display: none;
  }
  .clock.red {
    background-color: red;
  }
  .clock.yellow {
    background-color: yellow;
    color: #000;
  }
  .triangle.red::after,
  .triangle.red::before {
    background-color: red;
  }
  .triangle.yellow::after,
  .triangle.yellow::before {
    background-color: yellow;
  }
}
